bin/
bin/*
gen/
./gen/
./bin/
gen/*
Hubbub_AS/app/local.properties
Hubbub_AS/app/.idea/workspace.xml
Hubbub_AS/app/.idea/libraries
Hubbub_AS.DS_Store
Hubbub_AS/app/build
*/local.properties
*/.idea/workspace.xml
*/.idea/libraries
*.DS_Store
*/build
Hubbub_AS/.gradle/2.2.1
Hubbub_AS/app/app.iml
Hubbub_AS/.idea/misc.xml